# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
.metadata

#subprojects
**/.metadata
**/.actionScriptProperties
**/.DS_Store
**/.flexLibProperties
**/.project
**/.settings
**/cert.p12

**/.classPath
**/.project